a {
	text-decoration: none;
	color: unset;
}
.music {
	
}
.music-item{
    width: 400px;
    overflow: hidden;
    position: relative;
    will-change: transform, opacity;
}
.music-message {
	text-align: center;
}
ul {
	list-style: none;
	padding: 0;
	margin-top: 24px;
	gap: 20px;
	grid-template-columns: 4fr 4fr 4fr 4fr ;
}
li {
	text-align: -webkit-match-parent;
	padding: 23px;
	margin-bottom: 30px;
}

ul :hover{
	cursor: pointer;
}
.musicTitle{
	color: #FFF;
	font-size: 24px;
	font-weight: 700;
	padding-block-end: 4px;
	margin: 45px 0 5px;
}
.musicDes{
	width: 400px;
	font-size: 16px;
	color: #6a6a6a;
}